<h2>Transactions</h2>

<table class="transaction-table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Account Number</th>
    <th>Account Holder</th>
    <th>Amount</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
    @for (t of transactions; track $index) {
      <tr>
        <td>{{t.transactionDate}}</td>
        <td>{{t.accountNumber}}</td>
        <td>{{t.accountHolderName}}</td>
        <td>{{t.amount}}</td>
        <td>{{t.status}}</td>
      </tr>
    }
  </tbody>
</table>

<app-add-transaction-modal (transactionAdded)="loadTransactions()"></app-add-transaction-modal>
